body {
    background-color: rgba(0, 0, 0, 0);
    margin-left: 100px;
}


nav{
background-color: black;

width: 100%;
height: auto;
margin: 10px 10px;
padding-top: 1px;
padding-bottom: 1px;
}

text_lien{
    color: aliceblue;
}
h1
{color: red;}